.img-container {
  position: relative;
  width: 100%;
  text-align: left;
  margin-bottom: 2em;
}

.img-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.img-container-card {
  position: relative;
  width: 60%;
  text-align: left;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.img-container-card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.owner-pic {
  position: relative;
  width: 100%;
  text-align: left;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.owner-pic:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.owner-pic-side {
  position: relative;
  width: 8vw;
  height: 8vw;
  text-align: left;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.owner-pic-side:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  object-fit: cover;
}

.content-owner-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.content-owner-pic-side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.banner {
  position: absolute;
}

.boton:focus {
  background-color: transparent;
}

.toy-img-container {
  position: relative;
  width: 90%;
  height: 50vh;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.toy-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  object-fit: cover;
}

.shadow {
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px !important;
}
