.saved-toys-col {
  padding: 0;
  object-fit: cover;
}

.saved-toys-img-container {
  position: relative;
  width: 15vh;
  text-align: left;
  height: 15vh;
}

.saved-toys-content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  object-fit: cover;
}
